h1 {
    text-align: center;
    color: cornflowerblue;
}

button {
    background-color: rgb(37, 105, 232);
    color: white;
}

img {
    width: 300px;
    height: auto;
}

* {
    text-align: center;
}